body {
    background-color: gold;
}

header {
    text-align: center;
    background-color: grey;
}

#message {
    text-align: center;
}

img {
    border: solid 4px black;
}

tr {
    text-align: center;
    font-size: 16pt;
}

td {
    width: 200px;
    padding-top: 50px;
}