/* General style */
body {
    background-color: #4C6F7A;
    color: #2C2F30;
}

header, #content_horizontal, #content_vertical, nav, footer {
    text-align: center;
}

#content_horizontal {
    display: flex;
    justify-content: center;
}

/* Header and Navigation bar */
header a {
    font-size: 1.5em;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #CEDADE;
}

nav a:hover, #selected {
    border-bottom: 2px solid;
    font-size: 2em;
    transition: .9s;
}

/* Footer */
footer {
    clear: left;
}

#logo {
    float: left;
}

#footerText {
    padding-right: 190px;
    padding-top: 10px;
    font-size: 0.8em;
    color: #CEDADE;
}

/* Index page */
#profile, #welcomeText {
    padding-bottom: 4px;
    float: left;
}

#welcomeText {
    padding-top: 100px;
    text-align: left;
    font-size: 1.2em;
}

/* About page */
table {
    margin: 0px auto;   
}

td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: #CEDADE;
}

#table-header {
    background-color: #0581AB;
}

.table-row {
    background-color: #07ACE3;
}

ul {
    text-align: left;
}